@import "../../variables/variables";

.form__wrapper-label {
  position: relative;
  display: block;
}

.label-form__name,
.label-form__email,
.label-form__phone {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 13px;
  height: 13px;
  left: 11px;
  top: 10px;
}

.label-form__name {
  background-image: url("../../img/user-icon.svg");
}

.label-form__email {
  background-image: url("../../img/mail-icon.svg");
}

.label-form__phone {
  background-image: url("../../img/phone-icon.svg");
}

input.label-form__item::placeholder {
  color: $promoWrapperText;
}

.label-form__item {
  outline: none;
  margin-bottom: 10px;
  height: 31px;
  padding: 9px 10px 9px 33px;
  border-bottom: 1px solid $borderBottomLabel;
  border-left: 1px solid $borderLabel;
  border-right: 1px solid $borderLabel;
  border-top: 1px solid $borderLabel;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgb(0, 0, 0 / 50%);
  display: block;
  width: 100%;
  font-size: 11px;
  color: $black;
  background-color: $inputBackground;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 3px 5px $boxShadow;
    border: 2px solid $inputBorder;
  }
}

.label-form__notice {
  text-align: left;
}

@media (min-width: $tabletWidth) {
  .label-form__item {
    font-size: 13px;
    background-size: 13px;
  }
}

@media (min-width: $desktopWidth) {
  .label-form__item {
    margin-bottom: 15px;
    height: 45px;
  }

  .label-form__name,
  .label-form__email,
  .label-form__phone {
    top: 16px;
  }
}
