$wrapperPadding: 28px 30px;
$tabletWidth: 768px;
$desktopWidth: 1024px;
$wrapperPaddingTablet: 0 52px;
$wrapperPaddingDesktop: 0 50px;
$black: #000000;
$white: #ffffff;
$activeColor: #b10b00;
$menuNavBackground: #3a5a80;
$menuNavBorder: #93b3d9ff;
$promoWrapperTitle: #49ddf3;
$promoWrapperText: #3a5a80;
$whiteTwo: #ececec;
