$wrapperPadding: 28px 30px;
$tabletWidth: 768px;
$desktopWidth: 1024px;
$wrapperPaddingTablet: 0 52px;
$wrapperPaddingDesktop: 0 50px;
$white: #ffffff;
$whiteTwo: #ececec;
$applicationBackground: #f1f1f1;
$cardBackground: #e9eef2;
$inputBackground: #eff8fe;
$inputBorder: #faf6f1;
$whyUsBcImg: #f2f6f9;
$whyUsBorder: #D2D3D4FF;
$cardBorder: #babdbe;
$border: #9d9d9d;
$cardDescription: #616161;
$ourProcessBc1: #535353;
$boxShadow: #4B4A4AFF;
$black: #000000;
$menuNavBorder: #93b3d9ff;
$promoWrapperTitle: #49ddf3;
$borderBottomLabel: #408fb8;
$promoWrapperText: #3a5a80;
$ourProcessBc2: #2f5e7d;
$borderLabel: #003d7a;
$contactsBackground0: #0a2a4f;
$activeColor: #b10b00;











