@import "../../variables/variables";
.slick-track {
  display: flex;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: $promoWrapperText;
  width: 20px;
  height: 20px;
}
.slick-dots li button:before{
  color: $promoWrapperText;
}

