@import "../../variables/variables";
@import "../../mixin/mixin";

nav {
  min-width: 320px;
  width: 100%;
  background-color: $white;
  z-index: 1;
}

.nav__menu-wrapper {
  display: flex;
  align-items: baseline;
  padding: 15px 20px;
  font-size: 16px;

}

.nav__menu {
  display: block;
  padding: 0;
  width: 20px;
  position: relative;
  height: 12px;
  background-color: $white;
  border: none;
  margin-right: 15px;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $black;
    width: 22px;
    height: 2px;
  }

  &::before {
    box-shadow: 0 6px 0 0 $black;
  }

  &::after {
    top: 12px;
    position: absolute;
  }
}

.nav-toggle:checked ~ .nav__menu-wrapper .nav__menu {

  &::before,
  &::after {
    background-color: $black;
    content: "";
    width: 23px;
    height: 2px;
    top: 5px;
    right: -1px;
    position: absolute;
    transition: transform .3s;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav__menu {
  font-family: "WorkSans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__list {
  background-color: $promoWrapperText;
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 0;
  overflow: hidden;
  transition: height .3s;
  margin: 0;
}

.nav-toggle:checked ~ .nav__list {
  height: 320px;
}

.nav__item {
  border-bottom: 1px solid $menuNavBorder;
  padding: 5px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav__list-link {
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: $tabletWidth) {
  .nav__item {
    width: 40%;
  }

  .nav__menu-wrapper {
    font-size: 19px;
    padding: 15px 30px;
  }

  .nav__list-link {
    font-size: 14px;
  }

  .nav-toggle:checked ~ .nav__list {
    height: 150px;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktopWidth) {
  .nav {
    width: 100%;
    height: auto;
  }

  .nav__item {
    width: auto;
    border-bottom: none;
    align-items: center
  }

  .nav__menu {
    display: none;
  }

  .nav__list {
    @include descTopSize;
    display: flex;
    background: none;
    flex-wrap: nowrap;
    height: auto;
    padding: 20px 0;
  }

  .nav__list-link {
    font-size: 16px;
    color: $black;

    &:hover,
    &--active {
      color: $activeColor;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .nav__menu-wrapper {
    display: none;
  }
}
