@import "../../variables/variables";
@import "../../mixin/mixin";
.assortment {
  padding: 35px 20px;
}

.assortment__title {
  font-size: 18px;
  margin: 20px 0;
  text-transform: uppercase;
}

.assortment__title-wrapper {
  @include mobileTitleSize();


  &-wrapper {
    font-size: 22px;
  }
}

.assortment__notice,
.assortment__title {
  text-align: left;
}

.assortment__notice {
  margin: 0;
}

@media (min-width: $tabletWidth) {
  .assortment {
    padding: 40px 40px;
  }

  .assortment__title-wrapper {
    @include tabletTitleWidth();
  }

  .assortment__title {
    font-size: 20px;
    margin: 35px 0;
  }

  .assortment__notice {
    font-size: 14px;
  }
}

@media (min-width: $desktopWidth) {

  .assortment__title-wrapper {
    @include desktopTitleWidth();
  }

  .assortment__title,
  .assortment__notice {
    max-width: 1024px;
    margin: 0 auto;
  }

  .assortment__title {
    font-size: 22px;
    margin: 35px auto;
  }
  .assortment__notice {
    font-size: 16px;
  }
}
