@import "../../variables/variables";
@import "../../mixin/mixin";

.page__header {
  min-width: 320px;
  background: url(bg-1.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
  }
}

.page__header-wrapper {
  padding: 20px 20px;
  z-index: 1;
}

.page__header-title {
  margin: 0;
  font-family: 'WorkSans', "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: normal;
  color: $white;
  width: 100%;
  text-align: left;
}

@media (min-width: $tabletWidth) {
  .page__header-wrapper {
    @include descTopSize;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page__header-title {
    font-size: 19px;
  }
}

@media (min-width: $desktopWidth) {
  .page__header-title {
    margin: 0;
    font-family: 'WorkSans', "Arial", sans-serif;
    font-size: 28px;
    color: $white;
    width: 70%;
  }
}
